@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:wght@200;400;500;600;700&display=swap');
body{
  font-family: "Inter Tight", sans-serif;
}
.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(1px);
}

.navigation-container> img{
  margin:  0;
  width: 100px;
  margin-left: 70px;
}
.nav-links{
  margin-right: 70px;
  display: flex;
}
.nav-links > a {
  text-decoration: none;
  margin: 0 10px;
  color: white;
  transition: all 0.3s ease-out 100ms;
  position: relative;
  padding: 20px 0px;
}
.nav-links > a:hover {
  opacity: 1;
}
.nav-link::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: white;
}

.nav-link::before {
  width: 0%;
  bottom: 10px;
}

.nav-link:hover::before {
  width: 100%;
}
.landing-banner-container{
  height: 100dvh;
  background: url("./assets/BG.png") no-repeat center ;
  background-size: cover;
  color: white;
  font-family: "Inter Tight", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner-wording-container{
  display: flex;
  justify-content: space-between;
}
.banner-wording{
  width: 50%;
  padding:0 0 40px 70px ;
  height: 50dvh;
}
.banner-wording h1{
  -webkit-text-stroke-width: 0px;
  font-size: 4.1vw;
  line-height: 1.07em;
  font-family: "Inter Tight", sans-serif;


}
.first-header{
  margin-bottom: -40px;
}
.count-down-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 30px;
}
.banner-wording > button{
  border: none;
  padding: 15px 25px;
  font-weight: 600;
  margin-top: 30px;
  background: #2453D4;
  color: white;
  font-family: "Inter Tight", sans-serif;
  letter-spacing: 1.3px;
  border-radius: 20px;

}
.banner-wording > p{
  margin-top: -20px;
}


@media screen and (max-width: 768px) {
  .landing-banner-container{
    height: 65dvh;
  }
  .navigation-container .nav-links {
    display: none;
  }
  .navigation-container> img{
    margin-left: 0px;
  }

  .banner-wording-container{
    flex-direction: column;
  }
  .banner-wording{
     flex-direction: column
  }
  .banner-wording{
    width: auto;
    padding:0  ;
    height: auto;
    text-align: center;
  }
  .banner-wording h1{
    -webkit-text-stroke-width: 0px;
    font-size: 34px;
    line-height: 1.07em;
  }
  .banner-wording > button{
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 600;
    border-radius: 20px;
  }
  .first-header{
    margin-bottom: -20px;
  }
  .count-down-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 30px;
  }
  .banner-wording > p{
     display: none  }

  }
