@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:wght@200;400;500;600;700&display=swap');
body{
  font-family: "Inter Tight", sans-serif;
}
.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(1px);
}
.menu-icon{
  display: none;
}

.navigation-container> img{
  margin:  0;
  width: 100px;
  margin-left: 70px;
}
.mobile-nav{
  display: none;
}
.nav-links{
  margin-right: 70px;
  display: flex;
}
.nav-links > a {
  text-decoration: none;
  margin: 0 10px;
  color: white;
  transition: all 0.3s ease-out 100ms;
  position: relative;
  padding: 20px 0px;
}
.nav-links > a:hover {
  opacity: 1;
}
.nav-link::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: white;
}

.nav-link::before {
  width: 0%;
  bottom: 10px;
}

.nav-link:hover::before {
  width: 100%;
}
.landing-banner-container{
  height: 100dvh;
  background: url("./assets/BG.png") no-repeat center ;
  background-size: cover;
  color: white;
  font-family: "Inter Tight", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner-wording-container{
  display: flex;
  justify-content: space-between;
}
.banner-wording{
  width: 50%;
  padding:0 0 40px 70px ;
  height: 50dvh;
}
.banner-wording h1{
  -webkit-text-stroke-width: 0px;
  font-size: 4.1vw;
  line-height: 1.07em;
  font-family: "Inter Tight", sans-serif;


}
.first-header{
  margin-bottom: -40px;
}
.count-down-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 30px;
}
.banner-wording > button{
  border: none;
  padding: 15px 25px;
  font-weight: 600;
  margin-top: 30px;
  background: #2453D4;
  color: white;
  font-family: "Inter Tight", sans-serif;
  letter-spacing: 1.3px;
  border-radius: 20px;
  cursor: pointer;

}
.banner-wording > p{
  margin-top: -20px;
}
.recently-cards-container h1{
  font-size: 40px;
  text-align: center;
}
.recently-added-container{
  display: flex;
  align-items: center;
  padding-top: 25px;

}
.recently-added-cards{
  display: flex;
  overflow-x: scroll;
  margin-left: 40px;
  margin-right: 40px;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  width: 90%;
}
.match-card-container{
  display: flex;
  align-items: center;
  min-width: 400px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 40px;
  justify-content: space-between;
}
.match-card-container >img{
  width: 100px;
}
.score-container{
  text-align: center;
}
.score-container > p{
  color: #797C7F;
}

.score-container p:first-of-type {
  margin-top: -15px;
  color: black;
}


.score-container > h4{
font-weight: 400
}
.scroll-arrows{
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border-radius: 50%;
}
.hidden{
  display: none;
}
.points-table-container {
  font-family: Arial, sans-serif;
}

.points-table {
  margin: auto;
  width: 80%;
  border-collapse: collapse;
  font-family: "Inter Tight", sans-serif;

}
.points-table-container {
  text-align: center;
  padding-top: 50px;
}
.points-table-container > h2{
  font-size: 40px;
}

.points-table-container > table > thead > tr:nth-child(1) th {
  padding: 5px;
  background-color: #2453D4;


}
.points-table-container > table > thead > tr:nth-child(2) th {
  background-color: black;
  padding: 20px 10px;
  text-align: left;
  color: white;
  font-size: 19px;
  line-height: 1.2em;

}
.points-table-container > table > thead > tr:nth-child(3) th {
  font-size: 17px;
  padding: 20px;
  line-height: 1.2em;
  border: 1px solid #ddd;

}


.points-table tbody td {
  background-color: #f2f2f2;
  text-align: center;
  border: 1px solid #ddd;
  padding: 18px 20px;
  font-size: 16px;
  line-height: 1.2em;
  color: #A5A6AA;
  font-weight: 600;

}
.points-table-container > table.points-table tbody td:nth-child(2) {
  color: #1e4aa1;
  text-align: left;
}
.points-table-container > table.points-table thead  tr:nth-child(3) th:nth-child(2)  {
  text-align: left;
}
td >img{
  width: 50px;
  margin-right: 10px;
}
.teamName{
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  font-size: 15px;
}

.points-table th[colspan="5"] {
  background-color: #ccc;
  text-align: center;
}
.sponsors-container {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.sponsors-container h1{
  font-size: 40px;
  margin-bottom: 10px;
}

.sponsors-group {
  display: inline-block;
  animation: scroll 10s linear infinite;
}

.sponsors-group img {
  display: inline-block;
  width: 250px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin: 0 10px; /* Adjust the margin as needed */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.second-para {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease; /* Add transition for max-height */
}

.visible {
  max-height: 1000px;
}


.about-us-container,
.slpl-content-container{
  padding: 50px 70px;
  display: flex;
  flex-direction: column;
 align-items: center;
}
.slpl-content-container button,
.about-us-container button{
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
  background: #1e2129;
  color: white;
  border-radius: 20px;
}
.about-us-container h1,
.slpl-content-container h1{
  text-align: center;
  font-size: 40px;
}
.about-us-container > img{
  width: 200px;
  margin:  auto ;
}
.footer-container{
  background: #1E2129;
  padding: 30px 70px 10px 70px;
}
.footer-container .first-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-container .first-row img{
  width: 130px
}
.footer-container .first-row h1{
  font-size:37px;
  /*width: 100%;*/
  color: white;
  font-family: "Inter Tight", sans-serif;
  line-height: 1;
}
.social-links{
  display: flex;
  justify-content: flex-end;
  color: white;
}
.collum{
  margin: 0 0 0 80px;
  display: flex;
  flex-direction: column;
}
.collum > a{
  text-decoration: none;
  margin:  10px 0;
  color: white;
}
.collum > p{
  cursor: pointer;

}
.footer-container >p{
  color: white;
}
.sponsors-group{
  display: flex;
  justify-content: center;
  margin-left: 70px;
  margin-right: 70px;
}
/*.sponsors-group > img{*/
/*  width: 450px;*/
/*}*/


@media screen and (max-width: 768px) {
  .sponsors-container h1{
   font-size: 20px;
  }
  .sponsors-group{
    margin-left: 10px;
    margin-right: 10px;
  }
  .sponsors-group > img{
    width: 145px;
  }
  .menu-icon{
    display: block;
    margin-right: 15px;
  }
  .recently-cards-container h1{
    font-size: 20px;
    margin-bottom: -10px;
  }
  .mobile-nav{
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    background-color: white;
    transition: left 0.3s ease;
    z-index: 100000;
  }
  .nav-links-mobile{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .mobile-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-link > svg{
    margin-right: 15px;
  }
  .close-mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .close-mobile-nav > svg{
    margin-right: 15px;
  }
  .close-mobile-nav > img{
    width: 100px;
  }

  .mobile-link > a {
    text-decoration: none;
    margin: 0 10px;
    color: black;
    transition: all 0.3s ease-out 100ms;
    position: relative;
    padding: 20px 0px;
    font-weight: 600;
    font-family: "Inter Tight", sans-serif;

  }
  .open-nav {
    left: 0;
  }
  .landing-banner-container{
    height: 65dvh;
  }
  .navigation-container {
    backdrop-filter: blur(0);
  }
  .navigation-container .nav-links {
    display: none;
  }
  .navigation-container> img{
    margin-left: 0px;
  }

  .banner-wording-container{
    flex-direction: column;
  }
  .banner-wording{
     flex-direction: column
  }
  .banner-wording{
    width: auto;
    padding:0  ;
    height: auto;
    text-align: center;
  }
  .banner-wording h1{
    -webkit-text-stroke-width: 0px;
    font-size: 34px;
    line-height: 1.07em;
  }
  .banner-wording > button{
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 600;
    border-radius: 20px;
  }
  .first-header{
    margin-bottom: -20px;
  }
  .count-down-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 30px;
  }
  .banner-wording > p{
     display: none
  }
  .match-card-container >img{
    width: 60px;
    margin:auto;
  }
  .match-card-container{
    min-width: 300px;
    margin: 10px 0 10px 20px;
    height: 177px;
  }
  .match-card-container h1{
   font-size: 26px;
  }
  .match-card-container h4{
   font-size: 15px;
  }
  .match-card-container p{
   font-size: 11px;
  }
  .recently-added-cards{
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
  .scroll-arrows{
   display: none;
  }
  .points-table {
    width: 95%;
  }

  .points-table-container {
    text-align: center;
    padding-top: 25px;
  }

  .points-table-container > table > thead > tr:nth-child(2) th {
    font-size: 14px;
    line-height: 1.2em;

  }
  .points-table-container > table > thead > tr:nth-child(3) th {
    font-size: 12px;
    border: 1px solid #ddd;
  }
  .points-table tbody td {
    font-size: 12px;
    padding: 10px 5px;

  }
  .teamName{
    font-size: 14px;
  }
  td >img{
   display: none;
  }
  .points-table-container > h2{
    font-size: 20px;
  }
  .about-us-container > img{
    width: 200px;
    margin:  auto ;
  }
  .footer-container{
    padding:10px;
  }
  .footer-container .first-row{
   flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .footer-container .first-row h1{
    font-size:15px;
    text-align: center;
    letter-spacing: 5px;
    width: 90%;
  }
  .social-links{
    justify-content: center;
    color: white;
  }
  .collum{
    display: flex;
    align-items: center;
    margin: 0 15px;
  }
  .collum > h4,
  .collum > a,
  .collum > p{
    font-size: 13px;
  }
  .footer-container >p{
    font-size: 10px;
    text-align: center;
  }
  .about-us-container,
  .slpl-content-container{
    padding: 50px 20px 20px 20px;
    text-align: justify;
  }
  .about-us-container h1,
  .slpl-content-container h1{
    text-align: center;
    font-size: 20px;
  }
  }
