@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:wght@200;400;500;600;700&display=swap');
body{
  font-family: "Inter Tight", sans-serif;
}
.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.navigation-container> img{
  margin:  0;
  width: 100px;
  margin-left: 70px;
}
.nav-links{
  margin-right: 70px;
  display: flex;
}
.nav-links > a {
  text-decoration: none;
  margin: 0 10px;
  color: white;
  transition: all 0.3s ease-out 100ms;
  position: relative;
  padding: 20px 0px;
}
.nav-links > a:hover {
  opacity: 1;
}
.nav-link::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: white;
}

.nav-link::before {
  width: 0%;
  bottom: 10px;
}

.nav-link:hover::before {
  width: 100%;
}
.landing-banner-container{
  height: 100dvh;
  background: url("./assets/banner.jpg") no-repeat center ;
  background-size: cover;
  color: white;
  font-family: "Inter Tight", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner-wording-container{
  display: flex;
  justify-content: space-between;
}
.banner-wording{
  width: 50%;
  padding:0 0 40px 70px ;
}
.banner-wording h1{
  /*font-size: 5.2vw;*/
  -webkit-text-stroke-width: 0px;
  font-size: 4.1vw;
  line-height: 1.07em;

}
.first-header{
  margin-bottom: -40px;
}
.second-header{

}
.count-down-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 40px;
}
.banner-wording > button{
  border: none;
  padding: 15px 25px;
  font-weight: 600;
}
.banner-wording > p{
  margin-top: -20px;
}



